.tag {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  border-left: 1px solid var(--border-color);
  display: inline-block;
  padding: 0 4px;
  margin: 4px 0;
  color: var(--text-color-primary);
  cursor: pointer;
}
