.button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  display: inline-block;
  padding: 4px 8px;
  margin: 4px 0;
  color: var(--text-color-primary);
  cursor: pointer;
  background: transparent;

  &:hover {
    background: var(--button-bg);
  }
}
