.menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu .link {
  @media (max-width: 768px) {
    display: none;
  }
}

.menu-icon {
  color: var(--color-white);
  
  @media (min-width: 768px) {
    display: none;
  }
  
  @media (max-width: 768px) {
    display: block;
  }
}

.menu-mobile {
  color: var(--text-color-primary);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  padding: 8px;
  height: calc(100vh - 16px);
  border-right: 1px solid var(--color-white);
  background: var(--bg-color-primary);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
