.menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu .link {
  @media (max-width: 768px) {
    display: none;
  }
}

.menu-icon {
  @media (min-width: 768px) {
    display: none;
  }
  
  @media (max-width: 768px) {
    display: block;
  }
}

.menu-mobile {
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  padding: 8px;
  border-right: 1px solid rgba(0, 0, 255, 0.25);
}
