.menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu .link {
  @media (max-width: 768px) {
    display: none;
  }
}

.menu-icon {
  color: white;
  
  @media (min-width: 768px) {
    display: none;
  }
  
  @media (max-width: 768px) {
    display: block;
  }
}

.menu-mobile {
  color: var(--text-color-primary);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  padding: 8px;
  height: 100vh;
  border-right: 1px solid white;
  background: var(--bg-color-primary);
}
