.title {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--text-color-primary);
  border-bottom: 1px solid var(--border-color);
  padding: 4px;
  margin: 4px 0;
}
