@use "@/src/variables";

.header {
  z-index: variables.$header-z-index;
  height: 60px;;
  display: flex;
  align-items: center;
  padding: 0 32px;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(5px);
  border-bottom: variables.$border-primary;

  @media (max-width: variables.$breakpoint-md) {
    padding: 0 8px;
  }
}

