.header {
  z-index: 100;
  height: 60px;;
  display: flex;
  align-items: center;
  padding: 0 32px;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid var(--bg-color-tertiary);

  @media (max-width: 768px) {
    padding: 0 8px;
  }
}

