.header {
  z-index: 100;
  height: 60px;;
  display: flex;
  align-items: center;
  padding: 0 32px;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(5px);

  @media (max-width: 768px) {
    padding: 0 8px;
  }
}

.logo {
  cursor: pointer;    
}

