@use "@/src/variables";

.modal {
  box-sizing: border-box;
  color: variables.$text-color-primary;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  border: variables.$border-primary;
  background: variables.$bg-color-secondary;
  width: 320px;
  height: 320px;
  max-width: 100vw;
  max-height: 100vh;
  z-index: variables.$modal-z-index;

  .modal-icon-close {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  
  @media (max-width: variables.$breakpoint-sm) {
    top: 0;
    left:0;
    transform: none;
    width: 100vw;
    height: 100vh;
    padding: 8px;
  }

  @media (max-width: variables.$breakpoint-sm) {
    top: 0;
    left:0;
    transform: none;
    width: 100vw;
    height: 100vh;
    padding: 8px;
  }
}

.modal-blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: variables.$modal-z-index - 1;
    backdrop-filter: blur(15px);
  }
