@use "@/src/_variables";

.link {
  font-size: variables.$text-size-md;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0px;
  border-bottom: variables.$border-primary;
  padding: 2px;
  display: inline-block;
  color: variables.$text-color-primary;
  cursor: pointer;
  width: max-content;
}
