@use "@/src/variables";

.page {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100vw;
}

.page-content {
  padding: 8px 32px;
  
  @media (max-width: variables.$breakpoint-md) {
    padding: 0 8px;
  }
}
